<mat-card>
  <ng-container (click)="currentBoard()">
    <div mat-card-image *ngIf="board.bg.selected !== 'color'" class="image" [ngStyle]="{
      'background-image':  'url(' + (board.bg.photo ? board.bg.photo : '../assets/images/boards/default_bg_board.jpg') + ')',
      'background-size': 'cover',
      'background-position': 'center'}"></div>
    <div mat-card-image *ngIf="board.bg.selected === 'color'" class="image" [ngStyle]="{'background': board.bg.color}"></div>
    <div class="flex" (click)="$event.stopPropagation();">
      <div>{{board.created | date : "dd.MM.yyy"}}</div>
      <div class="functions">
        <i class="material-icons" (click)="CEBoardDialog()">edit</i>
        <i class="material-icons" (click)="deleteBoardDialog()">delete</i>
      </div>
    </div>
    <mat-card-content style="cursor: pointer;">
      <div class="title">{{board.name}}</div>
    </mat-card-content>
  </ng-container>
</mat-card>
