<mat-card>
  <ng-container (click)="currentBoard()">
    <img mat-card-image class="image" [src]="board.image" alt="" style="cursor: pointer;">
    <div class="flex" (click)="$event.stopPropagation();">
      <div>{{board.created | date : "dd.MM.yyy"}}</div>
      <div class="functions">
        <i class="material-icons" (click)="CEBoardDialog()">edit</i>
        <i class="material-icons" (click)="deleteBoardDialog()">delete</i>
      </div>
    </div>
    <mat-card-content style="cursor: pointer;">
      <div class="title">{{board.name}}</div>
    </mat-card-content>
  </ng-container>
</mat-card>
