@import '../../../scss/utils/mixins';
@import '../../../scss/utils/variables';

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .functions {
        i {
            margin-right: 10px;
            font-size: 24px;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                transform: scale(1.3);
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

.image {
    height: 180px;
    background: black;
    cursor: pointer;
}

.name {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
