<mat-dialog-content>
    <div class="buttons">
        <i class="material-icons" style="cursor: pointer;" (click)="closeDialog()">clear</i>
    </div>

    <section class="ce-board">
        <div class="title">{{board.createBoard === true ? 'Create New Board' : 'Edit Current Board'}}</div>
        <form class="form" [formGroup]="formGroup" (ngSubmit)="save()">
            <mat-card>
                <mat-card-content>
                        
                    <label class="example-margin">Background:</label>
                    <mat-radio-group>
                        <mat-radio-button color="primary" value="color" (click)="selectedBg('color')" style="margin: 0 5px;" [checked]="board.bg.selected === 'color'">Color</mat-radio-button>
                        <mat-radio-button color="primary" value="photo" (click)="selectedBg('photo')" style="margin: 0 5px;" [checked]="board.bg.selected !== 'color'">Photo</mat-radio-button>
                    </mat-radio-group>

                    <ng-container [ngSwitch]="board.bg.selected">
                        <!-- upload and drag&drop file img -->
                        <div mat-card-image *ngSwitchCase="'photo'">
                            <div class="bg file-img">
                                <!-- message add photo -->
                                <div class="add-photo" *ngIf="!imagePreview">
                                    <i class="material-icons md-80">add_photo_alternate</i>
                                    <div>Add photo</div>
                                </div>
                                <!-- img -->
                                <img [src]="imagePreview" alt="" *ngIf="imagePreview" class="image">
                                <!-- input -->
                                <input type="file" accept="image/*" formControlName="image" placeholder="Image" (change)="fileImg($event)">
                                <!-- delete file -->
                                <div class="delete-img" *ngIf="imagePreview" (click)="deleteImg()">
                                    <i class="material-icons">clear</i>
                                </div>
                            </div>
                            <div class="errorImgSize" *ngIf="errorImgSize">Error, maximum image size is 5MB</div>
                        </div>

                        <!-- bg color -->
                        <div class="bg color" mat-card-image *ngSwitchCase="'color'" [style.background]="board.bg.color">
                            <input type="color" [value]="board.bg.color" (change)="board.bg.color = $event.target.value;">
                            <div class="colorPicker">
                                <img src="./assets/images/account/color_picker.gif" width="80" alt="">
                            </div>
                        </div>
                    </ng-container>

                    <div >
                        <mat-form-field class="full-width" appearance="standard">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" placeholder="Name" required>
                            <mat-error *ngIf="formGroup.get('name').invalid && formGroup.get('name').touched">Field is required</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <button [disabled]="formGroup.invalid" mat-raised-button color="primary">{{ board.createBoard === true ? 'Create' : 'Edit'}}</button>
        </form>
    </section>
</mat-dialog-content>
