<mat-card class="full-height" (click)="currentSprint()">
    <ng-container (click)="currentSprint()">
      <mat-card-content style="cursor: pointer;">
        <div class="title">{{sprint.name}}</div>
      </mat-card-content>
      <div class="flex" (click)="$event.stopPropagation();">
        <div>{{sprint.created | date : "dd.MM.yyy"}}</div>
        <div class="functions">
          <i class="material-icons" (click)="CESprintDialog()">edit</i>
          <i class="material-icons" (click)="deleteSprintDialog()">delete</i>
        </div>
      </div>
    </ng-container>
  </mat-card>
