<aside class="sidenav">

    <section class="logo">
        <div>Project Management</div>
        <!-- <img src="" alt=""> -->
    </section>

    <nav class="menu">
        <li class="item" routerLinkActive="item--active">
            <i class="material-icons md-22">home</i>
            <div>Home</div>
        </li>
        <li class="item" routerLinkActive="item--active" [routerLink]="['boards']">
            <i class="material-icons md-22">category</i>
            <div>Boards</div>
        </li>
        <li class="item" routerLinkActive="item--active">
            <i class="material-icons md-22">settings</i>
            <div>Settings</div>
        </li>
    </nav>

</aside>